<% if posts[number].present? && posts[number].main_image.attached? %>
  <a href="<%= post_path(posts[number]) %>">
    <%= image_tag posts[number].decorated.resized_main_image_small %>
  </a>
<% end %>