<% if posts[number].present? && posts[number].main_image.attached? %>
  <a href="<%= post_path(posts[number]) %>">
    <%= image_tag posts[number].main_image.variant(resize_and_pad: [200, 200]) %>
  </a>
<% end %>