<h1>テストテストテスト</h1>
<h3>testtesttest</h3>
<div class="mt-3">
  <%= link_to "Test Bootstrap Button", "#", class: "btn btn-primary", id: "testButton" %>
</div>
<script>
  document.getElementById("testButton").addEventListener("click", function(event) {
    event.preventDefault(); // リンクのデフォルト動作を防ぐ
    alert("ボタンがクリックされたダ！");
  });
</script>