<div class="row mb-3" id="comment-form">
  <%= form_with model: comment, url: post_comments_path(post) do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control mb-3" %>
    <%= f.submit nil, class: "btn btn-primary" %>
  <% end %>
</div>