<% breadcrumb :like_index, @user %>


<div class="container">
<div class="row">

<%# -------------------本人&来訪者用------------------- %>
<% if @user == current_user || @user.is_public %>
  <% if @user_like_posts.present? %>
    <p>@いいねした記事</p>
    
    <% @user_like_posts.each do |post| %>
      <%# link_to "記事", post_path(post, user_id: @user.id) %>
      <%# link_to "記事", user_likes_post_path(post_id: post.id, user_id: @user.id) %>
      <%# link_to "記事", user_likes_post_path(post: post, user_id: @user.id) %>
      <%# link_to "記事", user_likes_post_path(@user.id, post.id) %>
      <%# render "post_image", post: post %>
      <%= link_to "記事", like_path(post, user_id: @user.id) %>
    <% end %>
  <% else %>
    <p>@いいねした記事がありません</p>
  <% end %>

<% else %>
  <p>@非公開されています</p>
<% end %>


</div>
</div>