<div class="container bg-info">
  <div class="py-2">
    <div class="row">
      <div class="col-2 bg-primary my-3">
        <%= link_to '@気になるグルメ発掘ナビ', root_path, class: 'text-dark' %>
      </div>
      <div class="col-3">ログインしてません</div>
      <div class="col-4">
        <form class="d-flex">
          <input class="form-control me-2 my-3" type="search" placeholder="あいまい検索用（未実装）" aria-label="Search">
          <button class="btn btn-outline-success py-2" type="submit">検索</button>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to '@新規作成', new_user_path, class: 'dropdown-item' %></li>
            <li><%= link_to '@ログイン', login_path, class: 'dropdown-item' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>