<div class="container fixed-bottom bg-secondary-subtle">
  <div class="row">
    <div class="d-flex justify-content-start">
      <a href="#" class="col-2 my-3 text-black text-decoration-none">お問い合わせ</a>
      <a href="#" class="col-2 my-3 text-black text-decoration-none">利用規約</a>
      <a href="#" class="col-3 my-3 text-black text-decoration-none">プライバシーポリシー</a>
    </div>
  </div>
</div>