<div class="container bg-info">
  <div class="py-2">
    <div class="row">
      <div class="col-2 bg-primary my-3">タイトル</div>
      <div class="col-3"></div>
      <div class="col-4">
        <form class="d-flex">
          <input class="form-control me-2 my-3" type="search" placeholder="検索" aria-label="Search">
          <button class="btn btn-outline-success py-2" type="submit">検索</button>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="col-1">画像</div>
      <div class="col-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">アクション</a></li>
            <li><a class="dropdown-item" href="#">別のアクション</a></li>
            <li><a class="dropdown-item" href="#">何か他のもの</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>