<% content_for(:title, t(".page_title")) %>
<% breadcrumb :post_edit, @user %>


<div class="container">
<div class="row">
  <h3><%= t(".edit_post") %></h3>
  <%= render 'form', post: @post %>
</div>
</div>