<% breadcrumb :post_index, @user %>

<div class="container">
<div class="row">

<%# -------------------本人用------------------- %>
<% if @user == current_user %>
  <% if @user_posts.present? %>
    <h1>@本人の記事一覧</h1>
    <% @user_posts.each do |post| %>
      <div class="row">
      <div class="py-4 my-1 bg-info">
      <%= link_to post.title, post_path(post, user_id: @user.id, post_path: @post_path) %>
      <%= link_to "@編集する", edit_post_path(post) %>
      <%= link_to "@削除する", post_path(post), data: { turbo_method: :delete, turbo_confirm: "@本当に削除しますか？" } %>
      </div>
      </div>
    <% end %>
  <% else %>
    <p>@投稿がありません</p>
  <% end %>

<%# -------------------来訪者用--------------------- %>

<% elsif @user.is_public %>
  <% if @user_posts.present? %>
    <h1>@記事一覧</h1>
    <% @user_posts.each do |post| %>
      <div class="row">
      <div class="py-4 my-1 bg-info">
      <%= link_to post.title, post_path(post, user_id: @user.id, post_path: @post_path) %>
      </div>
      </div>
    <% end %>
  <% else %>
    <p>@投稿がありません</p>
  <% end %>

<% else %>
  <p>@非公開されています</p>
<% end %>


</div>
</div>
