<% @posts.each do |p| %>
  <li class="list-group-item list-group-item-action" role="option" data-autocomplete-value="<%= p.title %>" data-autocomplete-label="<%= p.title %>">
    <%= p.title %>
  </li>
<% end %>