<a href="<%= post_path(post, area_tags: @area_tags, genre_tags: @genre_tags, taste_tags: @taste_tags, outher_tags: @outher_tags, post_path: @post_path) %>">
<%# 記事詳細を呼び出すとき選択したタグ情報も送る %>

<% if post.main_image.attached? %>
  <%= image_tag post.main_image.variant(resize_and_pad: [200, 200]) %>
<% end %>
</a>