<a href="<%= post_path(post, post_path: @post_path, word: @word) %>">
  <% if post.main_image.attached? %>
    <%= image_tag post.main_image.variant(resize_and_pad: [200, 200]) %>
  <% end %>
</a>

<div class="mt-1">
  <%= truncate(post.title, length: 13, omission: '...') %>
  <%# ーーーーーーtruncateはRailsのヘルパーメソッドで文字列を指定した長さで切り詰める機能がある。lengthで文字数を指定ーーーーーーーーーーー %>
  <%# ーーーーーーomissionは、切り詰めた際に追加する文字列を指定するためのオプション。ーーーーーーーーーーーー %>
</div>