<% content_for(:title, t(".page_title")) %>
<% breadcrumb :search_by_form %>


<div class="container">
  <div class="row">
    <% if @posts.present? %>
      <h3>@@検索</h3>
      <% @posts.each do |post| %>
        <div class="bg-info col-2">
          <a href="<%= post_path(post, post_path: @post_path) %>">
            <% if post.main_image.attached? %>
              <%= image_tag post.main_image.variant(resize_and_pad: [200, 200]) %>
            <% end %>
          </a>

          <div class="row">
            <%= post.dish.introduction %>
          </div>
        </div>
      <% end %>

      <%= paginate @posts, theme: "bootstrap-5" %>
    <% else %>
      <h3>@@ない</h3>
    <% end %>
  </div>
</div>