<% content_for(:title, t(".page_title")) %>


<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div>
        <%= user.name %>
        <%= user.email %>
      </div>
    <% end %>
  </div>
</div>
