<div class="bg-info">
<a href="<%= playlist_post_path(post, playlist_id: @playlist.id, user_id: @user.id, post_path: @post_path) %>">

<% if post.images.attached? %>
  <% post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>
</a>
<div class="row">
<%= post.dish.introduction %>
<% if @user == current_user %>
<%= link_to "@プレイリスト削除する", remove_playlist_playlist_path(post, playlist_id: @playlist.id), data: { turbo_method: :delete } %>
<% end %>
</div>
</div>