<div class="bg-info">
<a href="<%= playlist_post_path(post, playlist_id: @playlist.id) %>">

<% if post.images.attached? %>
  <% post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>
</a>
<div class="row">
<%= post.dish.introduction %>
</div>
</div>