<% breadcrumb :playlist_index, @user %>

<div class="container">
<div class="row">

<%# -------------------本人用------------------- %>
<% if @user == current_user %>
  <% if @playlist.present? %>
    <h1>@本人のプレイリスト一覧</h1>
    <% @playlist.each do |playlist| %>
      <div class="row">
      <div class="py-4 my-1 bg-info">
      <%= link_to playlist.title, playlist_path(playlist) %>
      <%= link_to "@削除する", playlist_path(playlist), data: { turbo_method: :delete } %>
      </div>
      </div>
    <% end %>
  <% else %>
    <p>@プレイリストがありません</p>
  <% end %>

<%# -------------------来訪者用--------------------- %>

<% elsif @user.is_public %>
  <% if @playlist.present? %>
    <h1>@プレイリスト一覧</h1>
    <% @playlist.each do |playlist| %>
      <div class="row">
      <div class="py-4 my-1 bg-info">
      <%= link_to playlist.title, playlist_path(playlist) %>
      </div>
      </div>
    <% end %>
  <% else %>
    <p>@プレイリストがありません</p>
  <% end %>

<% else %>
  <p>@非公開されています</p>
<% end %>


</div>
</div>