<% breadcrumb :playlist_show, @playlist, @user %>


<div class="container">
<div class="row">

<%# -------------------本人&来訪者用------------------- %>
<% if @user == current_user || @user.is_public %>
  <% if @playlist_posts.present? %>
    <%= @playlist.title %>
    
    <% @playlist_posts.each do |post| %>
      <%= render "post_image", post: post %>
    <% end %>
  <% else %>
    <p>@記事がありません</p>
  <% end %>

<% else %>
  <p>@非公開されています</p>
<% end %>


</div>
</div>